body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.spname{
    color:deepskyblue;
}

.nav-name{
    font-size: 45px;
    font-weight: 800;
}

nav>ul{
    display: flex;
    align-items:center;
    
}

nav li{
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
    
}

nav a{
    text-decoration: none;
    color: #474747;
}

.pri-button1{
    border-radius: 5px;
    background: deepskyblue;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.header{
    background-color:#f3fbff ;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .main-pic{
    width: 500px;
}